@font-face{
    font-family: "aileron";
    src: url("../font/Aileron-Regular.otf") format("opentype");
}

html{
    font-family: aileron;
    background-color: #e4e5e5;
}

a{
    text-decoration: none;
    color: black;
}

header{
    position: relative;
}

.header_img{
    width: 100%;
}

.headband{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 10px;
}

.front_nav{
    width: 30%;
}

.menu{
    box-sizing: border-box;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menu li i{
    margin-right: 5px;
}

#titre{
    font-style: italic;
}

header h1{
    width: 40%;
    height: 10%;
    font-size: 2rem;
    position: absolute;
    left: 30%;
    top: 45%;
    font-weight: bold;
    color: white;
}

.welcoming_text{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.welcoming_text p{
    width: 70%;
    font-size: 1.2rem;
    text-align: center;
}

.front_content{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

h2{
    text-align: center;
}

.about_me{
    width: 20%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 700px;
    padding: 10px;
    padding-top: 0;
    text-align: justify;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.portrait{
    width: 220px;
}

figcaption{
    text-align: center;
    font-size: 0.8rem;
}

.episodes_and_comments{
    height: 100%;
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.post_date{
    font-size: 0.8rem;
}

article{
    display: flex;
    flex-direction: column;
}

article  p{
    text-align: justify;
}

footer{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer_links{
    width: 25%;
    display: flex;
    justify-content: space-around;

}

.footer_links a{
    color: white;
}
.commentaires h3{
    text-align: center;
}
.comment_form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.input_name{
    height: 30px;
}

.comment_form .input_name, .comment_form .comment_area{
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;   
}

.submit{
    width: 25%;
    height: 35px;
    border-radius: 15px;
    border: 1px solid black;
    margin-top: 10px;
    
}
.input_name:focus, .comment_area:focus{
    background-color:#c9e8e8;
    border: 3px solid #95a9a9;
}

#username, #password, #connect_button, #save_button{
    display: flex;
    flex-direction: column;
}

.log_in_form{
    width: 30%;
    height: 200px;
    font-size: 0.9rem;
    font-weight: bold;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.log_in_form input{
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 70%;
}

.backoffice{
    display: flex;
    margin-top: 50px;
}

.welcome_jf{
    margin: auto;
}

.backoffice_header{
    width: 100%;
    height: 30px;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#backoffice_content{
    width: 100%;
}

#backoffice_content h2{
    display: flex;
    justify-content: space-around;
}

#logout_link, #front_link{
    margin-right: 10px;
}

#logout_link i, .backoffice_header span{
    color: white;
}

#login_welcome{
    margin-right: 10px;
}

.comment_post{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#back_nav{
    width: 15%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

#back_nav ul{
    list-style-type: none;
    padding-left: 0;
}

#back_nav li{
    margin-top: 10px;
}

#tinymce{
    width: 100%;
}

.editor{
    width:100%;
}

#comments_table, #episodes_table, #drafts_table, #comments_list{
    border: 1px solid black;
    text-align: center;
    width: 80%;
    margin: auto;
}

#comments_table td, #episodes_table td, #drafts_table td, #comments_list td{
    border: 1px solid black;
}

#comment_col, #episodes_col, #draft_col{
    width: 50%;
}

#episode_col{
    width: 5%;
}

#pseudo_col{
    width: 10%;
}

#report_comment, #waiting_moderation, #validated_comment{
    font-style: italic;
    font-size: 0.8rem;
}

.fa-flag, .fa-check, .fa-clock{
    margin-right: 10px;
}

.fa-flag, #report_comment a{
    color: red;
}

.fa-check, #validated_comment{
    color: green;
}

.fa-clock, #waiting_moderation{
    color: blue;
}

#comment_header{
    display: flex;
    justify-content: space-between;
}

#comment_header h4{
    margin: 0;
    font-size: 0.9rem;
    font-style: italic;
}

#comments_container{
    width: 80%;
    margin: auto;
}

#comments{
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#comment_text{
    padding-left: 40px;
    margin-top: 0;
}

#read_next > a{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: bold;
    color: blue;
}

#prev_next{
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

#previous, #next{
    margin: 20px;
}

#authentification{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

#authentification input{
    margin-bottom: 1rem;
    height: 2rem;
}

#authentification #submit{
    display: flex;
}