@font-face{
    font-family: "aileron";
    src: url("../font/Aileron-Regular.otf") format("opentype");
}

html{
    font-family: aileron;
    background-color: #e4e5e5;
}

a{
    text-decoration: none;
    color: black;
}

header{
    position: relative;
}

.header_img{
    width: 100%;
}

.headband{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 10px;
}

nav{
    width: 30%;
}

.menu{
    box-sizing: border-box;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menu li i{
    margin-right: 5px;
}

#titre{
    font-style: italic;
}

header h1{
    width: 40%;
    height: 10%;
    font-size: 2rem;
    position: absolute;
    left: 30%;
    top: 45%;
    font-weight: bold;
    color: white;
}

.welcoming_text{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.welcoming_text p{
    width: 70%;
    font-size: 1.2rem;
    text-align: center;
}

main{
    width: 100%;
}

.about_me{
    width: 20%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 700px;
    padding: 10px;
    padding-top: 0;
    text-align: justify;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.portrait{
    width: 220px;
}

figcaption{
    text-align: center;
    font-size: 0.8rem;
}

.last_episodes{
    width: 77%;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.post_date{
    font-size: 0.8rem;
}

article{
    display: flex;
    flex-direction: column;
}

article  p{
    text-align: justify;
}

main{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

footer{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer_links{
    width: 25%;
    display: flex;
    justify-content: space-around;

}

.footer_links a{
    color: white;
}
.commentaires h3{
    text-align: center;
}
.comment_form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.input_name{
    height: 30px;
}

.comment_form .input_name, .comment_form .comment_area{
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;   
}

.submit{
    width: 25%;
    height: 35px;
    border-radius: 15px;
    border: 1px solid black;
    margin-top: 10px;
    
}
.input_name:focus, .comment_area:focus{
    background-color:#c9e8e8;
    border: 3px solid #95a9a9;
}

#username, #password, #connect_button, #new_password, #save_button, #confirm_pass{
    display: flex;
    flex-direction: column;
}

.log_in_form, .new_password{
    width: 30%;
    height: 200px;
    font-size: 0.9rem;
    font-weight: bold;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.log_in_form input, .new_password input{
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 70%;
}